/* CSS RESET */
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

body{
    background-color: black;
}

header {
    background-color: black;
    background-image: url("../images/header.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px;
    font-family: "Orbitron", sans-serif;

}

a:link,
a:visited {
    color: #d69386;
    text-decoration: none
}

a:hover{
    color: #d69386;
    text-decoration: none
}

h1{
    margin: 20px;
    font-size: 80px;
    background: -webkit-linear-gradient(#d69386, #d69386,#efd867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    margin: 20px;
    margin-top: 10px;
    font-size: 25px;
    color: #efd867;
    opacity: 90%;
}

button{
    padding: 10px;
    margin: 20px;
    margin-top: 60px;
    background-color: black;
    border-color: #efd867;
    color: #efd867;
    font-family: "Orbitron", sans-serif;
    
}

ul {
    display: flex;
    color: white;
    background-color: black;
    list-style-type: none;
    padding: 4px 0px 0px 800px;
    font-family: "Orbitron", sans-serif;
}

li{
    margin: 20px;
    color: #d69386;
}

section.about-me{
    background-color: black;
    padding: 90px;
    font-family: "Orbitron", sans-serif; 
    color:  #efd867
}


.main-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 20px;
    font-family: "Orbitron", sans-serif;
    border-radius: 10px;
    color: #fc8c7d;
    background-color: black;
  }

  .main-container-video {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 20px;
    font-family: "Orbitron", sans-serif;
    border-radius: 10px;
    color: #fc8c7d;
    background-color: black;
    text-align: center;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  .flex-container img {
    padding: 10px;
  }
  main, footer {
    text-align: center;
  }


h2{
    font-size: 36px;
    text-align: center;
    margin: 37px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .main-container {
    width: 85%;
    margin: 0 auto;
    border: 1px solid black;
  }
​
  .flex-container¸ {
    display: flex;
    flex-direction: row;
  }      

  .flex-container .info {
    width: 50%;
  }
​
  .flex-container .image {
    width: 50%;
  }
​
  .flex-container .image img {
    width: 100%;
  }

  footer {
    font-size: 10px;
    color:rgb(140, 0, 255);
    margin: 30px 0px 3px 0px ;
    opacity: 80%;
  }

  .image {
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
  }

  .image2 {
    animation: fadeIn 100s;
    -webkit-animation: fadeIn 100s;
    -moz-animation: fadeIn 100s;
    -o-animation: fadeIn 100s;
    -ms-animation: fadeIn 100s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }